{%- extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% include "header.html" %}
		{% block content %}
		<div class="container">
			<h1>Edit {{item.name}}</h1>

			<form action="{{ url_for('edit_category_item', category_id=category_id, item_id=item_id) }}"
			method="post">

				<p>Name:</p>
					<input type="text" size='30' name="name" placeholder="Edit {{item.name}}" required>
				<p>Description:</p>
					<textarea name="description" rows="8" cols="50"
					placeholder="Add/Edit Item Description"></textarea>
					<br>
					<input type="submit" value="Edit">
				<a href="{{ url_for('category_items', category_id=category_id) }}">Cancel</a>
			</form>
		</div>
		{% endblock %}
