{%- extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% include "header.html" %}
		{% block content %}
		<div class="container">
			<div class="row">
				{% with messages = get_flashed_messages(with_categories=True) %}
					{% if messages %}
					<div class="col-md-12">
						{{utils.flashed_messages(messages)}}
					</div>
					{% endif %}
				{% endwith %}
				<div class="col-sm-8">
					<h1>Welcome to our Catalog!</h1>
					<br>
					<h2>Below Is A List of Our Current Catalog Items:</h2>
					{% for category in category %}
						<h2>{{category.name}}</h2>
						<a href="{{ url_for('category_items', category_id=category.id)}}">View Category Details</a>
						<br>
						<br>
						{% endfor %}
				</div>
				<div class="col-sm-4">
					<div class="well sidebar-nav">
						<h2>Latest Catalog Items:</h2>

						{% for i in items %}

						<p><strong>{{i.name}}</strong></p>

						<!-- <p>{{i.description}}</p> -->
					{% endfor %}
					</div>
				</div>
			</div>
		</div>
		{% endblock %}
